@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-image: url("./image/b1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 3% 9%;
  overflow: hidden;
}
#Navbar {
  line-height: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar .logo h1 {
  font-size: 24px;
  font-weight: 800;
  color: white;
}
.navbar .navbar-component a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.navbar .navbar-component {
  word-spacing: 25px;
}

.temp .temperature h1 {
  font-family: "Playfair Display", serif;
  font-size: 300px;
  font-weight: bold;
}
.temp .Weather {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  justify-content: center;
}
.temp .Weather h2 {
  font-size: 45px;
  letter-spacing: 0;
  font-weight: 700;
}
#body {
  display: flex;
  height: 80vh;
  align-items: center;
  color: white;
}
.temp {
  display: flex;
  width: 60%;
}
.detail {
  width: 40%;
}
.detail .position {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail .position .hawa {
  width: 50%;
  margin-bottom: 20px;
}
.detail h1 {
  margin-bottom: 25px;
  font-size: 35px;
}
.detail .position .hawa h2 {
  font-size: 28px;
  font-weight: 800;
}
.detail .get-weather {
  color: white;
  outline: none;
  border: none;
  background-color: tomato;
  padding: 1% 5%;
  border-radius: 12px;
  cursor: pointer;
}

#footer .date {
  float: right;
  color: white;
}

#footer .date h1 {
  font-size: 35px;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
}
#footer .date h2 {
  font-size: 14px;
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
}

.currenttemperature {
  transition-timing-function: ease;

  /* Also the same as */
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}
